<div class="card">
  <div class="card-content">

    <%= live_component @socket, NewTaskComponent %>
    <%= for task <- @tasks do %>
      <%= live_component @socket, TaskCardComponent, task: task %>
    <% end %>

  </div>
</div>
