<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "ToDo", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <nav class="navbar is-info">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item brand-text" ><strong>TODO</strong>&nbsp | Thursday Tech Talks</i></a>
          <div class="navbar-burger burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      <div id="navMenu" class="navbar-menu">
        <div class="navbar-end">
          <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
            <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home), target: "_blank", class: "navbar-item" %>
          <% end %>
        </div>
      </div>
    </nav>

    <div class="container is-fluid">
      <div class="column is-full">
        <%= @inner_content %>
      </div>
    </div>
  </body>
</html>
